* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;

}

section {
  width: 100%;
  height: 100vh;
}

.section1 {
  background: #7820E1;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.sticky {
  background: #7820E1;
  transition: 300ms;
  position: fixed;
  top: 0;
}
ul {
  list-style: none;
}

ul li  {
  display: inline;
  margin: 25px;
  color: #F0F3F4;
}

a {
color: #F0F3F4;
text-decoration: none;
}


.logo {
  color: #F0F3F4;
}

main {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
}
.btn {
  display: none;
}

.rightPart {
  width: 40%;
  height: 90vh;
  /*border: 10px solid red;*/
}

.leftPart {
  width: 40%;
  height: 90vh;
  /*border: 10px solid yellow;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: scale 800ms forwards;
}

.scroll {
writing-mode: vertical-lr;
color: #F0F3F4;
width: 30px;
font-family: 'Caveat', cursive;
letter-spacing: 4px;
font-size: 15px;
animation: transform2 1s ease-in-out infinite;
}

.scroll:hover {
  transform: scaleY(1.4);
  transition: 500ms;
}

h1 {
  font-size: 150px;
  color: #F0F3F4;
   text-shadow: 3px 2px gray;
}
.image1 {
  width: 100%;
  height: 100%;
  animation: transform 500ms linear;
}

@keyframes transform2 {
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes transform  {
0%{
  transform: translateX(100px);
  opacity: 0;
}
100%{
  transform: translateX(0px);
  opacity: 1;
}
}

@keyframes scale {
  0%{
    transform: translateY(-30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (min-width: 200px) and (max-width: 600px) {

  header {
    justify-content: center;
  }

  .main {
    height: 90vh;
  }

  .section1 {
    overflow-x: hidden;
  }
  .nav  {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: black;
    transform: translateX(400px);
    opacity: 0;
    display: none;
    z-index: 10;
  }

  .logo {
    z-index: 100;
    text-align: center;
  }

  .active {
    transform: translateX(0px);
    opacity: 1;
   display: block;
    transition: 500ms;
  }

  .nav li {
    display: block;
    text-align: center;
    margin: 80px;
  }

  main {
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;

  }

   .rightPart {
     height: 30vh;
     align-self: center;
   }
}



.section2 {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*
  justify-content: space-around;*/
  background:  #FAFAFF;
  overflow-x: hidden;
}
.container {
  width: 65%;
  height: 100vh;
  /*border: 3px solid red;*/
  display: flex;
  justify-content: space-between;
  align-items:  center;
}
.About {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  border-bottom: 3px groove  #7820E1;
  transform: translateY(160px);
  opacity: 0;
}
.cis {
  transform: translateY(100px);
  opacity: 1;
  transition: 1300ms;
}
.profile {
  width: 25%;
  height: 33vh;
  transform: translateX(-300px);
  opacity: 0;
}

.wow {
  transform: translateX(0px);
  opacity: 1;
  transition: 700ms;
}


.content {
  height: 40vh;
  transform: translateX(300px);
  opacity: 0;
}

.trans {
  transform: translateX(0px);
  opacity: 1;
  transition: 900ms;
}

.image2 {
 width: 100%;
 border-radius: 50%;
 background: #7820E1;
 /*padding: 6px;*/
 height: 100%
}

h2 {
  color: #7820E1;
  font-size: 30px;
}

h3 {
  color: #566573;
}

p {
  font-family: 'Cinzel', serif;
  font-weight: 600;
  color:  #697477;
}

.png {
  margin-top: 12px;
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  .container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .profile {
    width: 80%;
  }

  .About {
    transform: translateY(30px);
  }
}


.section3 {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.second {
   height: 80vh;
   width: 90%;
   display: flex;
   justify-content: space-around;

}

.west {
  width: 40%;
  height: 50vh;
  filter: blur(7px);
  /*border: 4px solid green;*/
}

.blur {
  filter: blur(0px);
  transition: 800ms;
}

.image3 {
  width: 100%;
  height: 100%;
}

.east {
  height: 40vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.new li {
  color: #626567;
}

.new li:hover {
  background: #7820E1;
  padding: 9px;
  transition: 500ms;
  border-radius: 10px;
  color: white;
}

.new {
  margin-top: 15px;
}

span {
  color: #7820E1;
  font-weight: 600;
}

.skills {
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
  border-bottom: 3px groove #7820E1;
}

.Active {
color: #626567;
}

.Active:hover {
  color: white;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  .east {
    width: 100%;
    height: 20vh;
  }
  .development {
    height: 50%;
  }
  .new li {
    margin: 2px;
  }
  .west {
    width: 70%;
    height: 40vh;
  }
}



.section4 {
  height: 90vh;
display: flex;
flex-direction: column;
/*justify-content: space-around;*/
align-items: center;
justify-content: space-around;
overflow-x: hidden;
}

.upper, .mid {
  height: 45vh;
  width: 90%;
  /*border: 2px solid red;*/
  display: flex;
  justify-content: space-around;
}
.upper {
  transform: translateX(-250px);
  opacity: 0;
}
.left {
  transform: translateX(0px);
  opacity: 1;
  transition: 500ms;
}

.mid {
  transform: translateX(250px);
}

.right {
  transform: translateX(0px);
  opacity: 1;
  transition: 500ms;
}

.me {
  height: 35vh;
  width: 25%;
}

.photos {
  /*border: 10px solid red;*/
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}

.intro {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  color: #F1C40F;
  font-weight: 400;
}

.s1 {
  font-weight: 400;
  font-size: 40px;
}

@media screen and (min-width: 200px) and (max-width: 600px) {

  .section4 {
    height: 200vh;
    justify-content: center;
  }
  .me {
   width: 300px;
   height: 200px;
   margin: 0px;
  }

  .photos {
    height: 170vh;
    justify-content: space-around;
  }

  .upper, .mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 700px;
  }
}



.section5 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   justify-content: space-between;
}

.sub {
  width: 100%;
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("camera.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: ivory;
  font-family: 'Playball', cursive;
}

.information {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50vh;
  transform: translateY(200px);
  font-size: 40px;
  text-align: center;
}


@media screen and (min-width: 200px) and (max-width: 600px) {


  .section5  {
    height: 120vh
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -10000;
  }
  .information {
    flex-direction: column;
    font-size: 25px;
    transform: translateY(0);
  }
}
